*.pyc
Client/*
OpenBench/migrations/*

credentials
credentials.*

Scripts/Engines/*
Scripts/Networks/*

Media/*

!Client/*.py
!Client/cutechess-ob
!Client/cutechess-ob.exe

Media/PGNs/*
Media/Networks/*
Media/Events/*

*.lock
*.epd

webhooks.json
